.product-card {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.description {
  height: 80px;
  overflow-y: hidden;
}
.title {
  font-size: 13px;
}
p {
  font-size: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
