.container {
  text-align: center;
  margin-left: 30px auto;
  color: grey;
}

a {
  text-decoration: none !important;
  color: white !important;
}
.form-control {
  color: white;
}
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: auto;

}
.product-image {
  height: 200px;
  width:90px;
  margin-bottom: 10px;
  object-fit:scale-down;
}
.body {
  padding-top: 60px;
}
